.mainDiv {
  /* border: 4px solid green; */
  margin-top: 5.2rem;
}
.greenText {
  color: #004f59;
  font-family: "Inter";
  font-weight: 500;
  font-size: 28px;
}

.greenPipe {
  color: #004f59;
}

.grayText {
  color: #0b1b3233;
  font-family: "Inter";
  font-weight: 500;
  font-size: 28px;
}
.productTitle {
  color: #0b1b32;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
}
.productPrice {
  color: #e0af54;
  font-family: "Inter";
  font-weight: 400;
  font-size: 25px;
}
.productLocation {
  color: #0b1b32;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
}
.productText {
  color: #0b1b32;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
}
.customBtn {
  background-color: #e0af54;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  border: none;
  padding: 0.6rem 2.5rem;
}
.customBtn:hover {
  background-color: #e0af54;
  color: #ffffff;
}
