.mainDiv{
  background-color: #004F59;
  border-radius: 25px;
  margin-top: 8rem;
}
.topHeading{
  color: #FFFFFF;
  font-family: "Inter";
  font-weight: 600;
  font-size: 35px;
}
.topPara{
  color: #E3F3F3;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  max-width: 350px;
}
.colDiv{
  border-left: 1px solid #FFFFFF;
  line-height: 1.4rem;
  padding: 8px;
}
.colRightHeading{
  color: #FFFFFF;
  font-weight: "Inter";
  font-weight: 400;
  font-size: 18px;
}
.colRightPara{
  color: #E0AF54;
  font-weight: "Inter";
  font-weight: 600;
  font-size: 30px;
}
.colRightParaTwo{
  color: #FFFFFF;
  font-weight: "Inter";
  font-weight: 500;
  font-size: 18px;
}
.span{
  color: #E0AF54;
}