.mainDiv {
  background-color: #004f59;
  border-radius: 28px;
  margin-top: 8rem;
  /* border: 5px solid red; */
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}
.topHeading {
  color: #ffffff;
  font-family: "Inter";
  font-weight: 600;
  font-size: 35px;
}
.topPara {
  color: #e3f3f3;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  max-width: 350px;
}
.colDiv {
  border-left: 1px solid #ffffff;
  line-height: 1.4rem;
  padding: 8px;
}
.colRightHeading {
  color: #ffffff;
  font-weight: "Inter";
  font-weight: 400;
  font-size: 18px;
}
.colRightPara {
  color: #e0af54;
  font-weight: "Inter";
  font-weight: 600;
  font-size: 30px;
}
.colRightParaTwo {
  color: #ffffff;
  font-weight: "Inter";
  font-weight: 500;
  font-size: 18px;
}
.span {
  color: #e0af54;
}
