.col {
  background-color: linear-gradient(to right, rgb(0, 255, 255), #00828233);
}
.card {
  width: 25rem;
  background: linear-gradient(
    90deg,
    #e3f3f3 25.48%,
    rgba(0, 130, 130, 0.2) 100%
  );
  border: none;
  border-top-left-radius: 12rem;
  border-bottom-left-radius: 12rem;
}
.CardHeading {
  color: #000000;
  font-family: "Inter";
  font-weight: 600;
  font-size: 25px;
}
.cardPara {
  color: #004f59;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
}
