.mainDIv {
  background-color: #e3f3f3;
  padding: 6rem 4rem;
}
.customImage {
  border-bottom: 1px solid #004f59;
}
.customHeading {
  color: #004f59;
  font-family: "Inter";
  font-weight: 700;
  font-size: 35px;
  width: 100%;
  max-width: 365px;
}
.customPara {
  color: #808080;
  font-family: "Inter";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
}
.btnOne {
  background-color: #e0af54;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  padding: 12px 36px;
  border: none;
}
.btnOne:hover {
  background-color: #e0af54;
  color: #ffffff;
}
.btnTwo {
  background-color: #e3f3f3;
  border: 1px solid #e0af54;
  color: #e0af54;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  padding: 12px 36px;
}
.btnTwo:hover {
  background-color: #e3f3f3;
  border: 1px solid #e0af54;
  color: #e0af54;
}
@media (max-width: 1200px) {
  .customImage {
    width: 100%;
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .customImage {
    width: 100%;
    max-width: 565px;
    margin-top: 3rem;
  }
}
@media (max-width: 576px) {
  .mainDIv {
    padding: 1rem;
  }
}
