.mainDIv{
  background-color: #E3F3F3;
  padding: 3rem;
}
.customImage{
  border-bottom: 1px solid #004F59;
}
.customHeading{
  color: #004F59;
  font-family: "Inter";
  font-weight: 700;
  font-size: 35px;
  width: 100%;
  max-width: 365px;
}
.customPara{
  color: #808080;
  font-family: "Inter";
  font-size: 28px;
  line-height: 28px;
}
.btnOne{
  background-color: #E0AF54;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border: none;
}
.btnOne:hover{
  background-color: #E0AF54;
  color: #FFFFFF;
}
.btnTwo{
  background-color: #E3F3F3;
  border: 1px solid #E0AF54;
  color: #E0AF54;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  padding: 0.4rem 2.7rem;
}
.btnTwo:hover{
  background-color: #E3F3F3;
  border: 1px solid #E0AF54;
  color: #E0AF54;
}
@media (max-width: 1200px) {
  .customImage{
    width: 100%;
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .customImage{
    width: 100%;
    max-width: 565px;
    margin-top: 3rem;
  }
}
@media (max-width: 576px) {
  .mainDIv{
    padding: 1rem;
  }
}