.mainDiv{
  background: linear-gradient(360deg, #D8A53F00 0%, #D8A53F 100%);
  padding: 3rem;
  /* border: 2px solid red; */
}
.topHeading{
  color: #0B1B32;
  font-family: "Inter";
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  width: 100%;
  max-width: 735px;
}
.customPara{
  color: #0B1B32;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  max-width: 400px;
}
.customImg{
  position: relative;
  top: 4.2rem;
}
@media (max-width: 1400px) {
.customImg{
  width: 100%;
  max-width: 980px;
}
}
@media (max-width: 992px) {
.customImg{
  top: 6.4rem;
}
}
@media (max-width: 830px) {
.customImg{
  top: 10.3rem;
}
}
@media (max-width: 768px) {
.customImg{
  /* width: 100%; */
  width: 675px;
}
}
@media (max-width: 650px) {
.customImg{
  /* width: 100%; */
  width: 600px;
}
}
@media (max-width: 600px) {
.customImg{
  /* width: 100%; */
  width: 510px;
}
}
@media (max-width: 576px) {
.mainDiv{
  padding: 1rem;
}
}
@media (max-width: 500px) {
.customImg{
  /* width: 100%; */
  width: 450px;
}
}
@media (max-width: 450px) {
.customImg{
  /* width: 100%; */
  width: 400px;
}
}
