.mainDiv {
  background-image: radial-gradient(
      circle at top left,
      rgba(0, 0, 0, 0.3) 0%,
      transparent 50%
    ),
    radial-gradient(circle at top right, rgba(0, 0, 0, 0.3) 0%, transparent 50%),
    radial-gradient(
      circle at bottom left,
      rgba(0, 0, 0, 0.3) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(0, 0, 0, 0.3) 0%,
      transparent 50%
    ),
    linear-gradient(to right, #004f59, #004f59);
}
.customHeading {
  color: #ffffff;
  font-family: "Inter";
  font-weight: 600;
  font-size: 60px;
  width: 100%;
  max-width: 670px;
}
.customPara {
  color: #ffffff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
}
