.customLinks {
  font-style: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.buttonOne {
  background-color: #ffffff;
  border: 1px solid #e0af54;
  color: #e0af54;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  padding: 0.5rem 2rem;
}
.buttonOne:hover {
  background-color: #ffffff;
  border: 1px solid #e0af54;
  color: #e0af54;
}
.buttonOne:focus,
.buttonOne:active,
.buttonOne:focus:active {
  background-color: #ffffff !important;
  border: 1px solid #e0af54 !important;
  color: #e0af54 !important;
  outline: none !important;
  box-shadow: none !important;
}
.buttonTwo {
  background-color: #e0af54;
  border: 1px solid #e0af54;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  padding: 0.5rem 2rem;
}
.buttonTwo:hover {
  background-color: #e0af54;
  border: 1px solid #e0af54;
  color: #ffffff;
}
.buttonTwo:focus,
.buttonTwo:active,
.buttonTwo:focus:active {
  background-color: #e0af54 !important;
  border: 1px solid #e0af54 !important;
  color: #ffffff !important;
  outline: none !important;
  box-shadow: none !important;
}
