.customLinks{
  font-style: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.buttonOne{
  background-color: #FFFFFF;
  border: 1px solid #E0AF54;
  color: #E0AF54;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  padding: 0.5rem 2rem;
}
.buttonOne:hover{
  background-color: #FFFFFF;
  border: 1px solid #E0AF54;
  color: #E0AF54;
}
.buttonTwo{
  background-color: #E0AF54;
  border: 1px solid #E0AF54;
  color: #FFFFFF;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  padding: 0.5rem 2rem;
}
.buttonTwo:hover{
  background-color: #E0AF54;
  border: 1px solid #E0AF54;
  color: #FFFFFF;
}