.mainDiv {
  /* border: 2px solid red; */
  background-color: #e3f3f3;
  border-radius: 28px;
  padding: 28px 23px;
  margin-top: 3.5rem;
}
.mainHeading {
  color: #004f59;
  font-family: "Inter";
  font-weight: 600;
  font-size: 38px;
}
.formDiv {
  background-color: #ffffff;
  border-radius: 17px;
}
.formLabel {
  color: #000000;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
}
.inputGroup {
  background-color: #ead2a5;
  width: 50px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.formControl {
  border: 1px solid #ead2a5;
  padding: 16px 20px;
}
.customBtn {
  background-color: #004f59;
  padding: 16px 20px;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  margin-top: 4rem;
}
.customBtn:hover {
  background-color: #004f59;
  color: #ffffff;
}
@media (max-width: 768px) {
  .mainDiv {
    padding: 7px;
  }
  .mainHeading {
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
  }
}
