.mainDiv {
  box-shadow: -0px 10px 18px 0px #0000001a, 0px 10px 18px 0px #0000001a;
  border-radius: 8px;
}
.customHeading {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  font-family: "Inter";
}
.customParaTop {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
}
.customParaTwo {
  color: #e0af54;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
}
