.mainDiv {
  box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.15),
    2px 3px 5px 0px rgba(0, 0, 0, 0.15);
}
.customHeading {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  font-family: "Inter";
}
.customParaTop {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
}
.customParaTwo {
  color: #e0af54;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
}
